= simple_form_for [:dashboard, @accessory], input_html: { multipart: true } do |f|
  = f.input :name, label: '配件名称'
  = f.input :count, as: :integer, label: '配件数量', input_html: { placeholder: 10 }

  = f.input :category_id, as: :select, collection: Category.all, include_blank: false, label: '配件分类'
  #condition_value_list
    
  .city-group
    %select.city-select
      %option --省份--
      = options_for_select(ChinaCity.list)
    %select.city-select
      %option --城市--
    %select.city-select
      %option --地区--

  = f.simple_fields_for :image_assets do |image|
    = image.input :file,  as: :file, label: ''
  = f.submit "上传", class: 'btn btn-primary col-md-12'


:javascript
  var load_condition_list = function(){
    $('#condition_value_list').load('/dashboard/categories/' + $('#accessory_category_id').val() + '/conditions_list');
  }

  $(document).on('ready turbolinks:load').ready(function(){
    $('#accessory_category_id').on('change', load_condition_list);
    $(document).on('click', '#condition_value_list label', function(){ $(this).toggleClass('active_label_condition')});
    load_condition_list();
  })

