= link_to gly_icon(:plus) +"新配件", new_dashboard_accessory_path(admin: true), {"class" => 'btn btn-default btn-primary'}

%table.table
  %thead
    %th ID
    %th Name
    %th 分类
    %th 拥有人
    %th
  %tbody
    - @accessories.each do |a|
      %tr
        %td= a.id
        %td= a.name
        %td= a.category_name
        %td= a.user.try(:mobile)
        %th
          = link_to gly_icon(:pencil), edit_dashboard_accessory_path(a)
          = link_to gly_icon(:remove), dashboard_accessory_path(a), method: :delete

= paginate @accessories

